<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:fragment="head">
<meta charset="utf-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<meta name="viewport" content="width=device-width, initial-scale=1" />
<!-- Custom fonts for this template-->
<link th:href="@{/admin/vendor/fontawesome-free/css/all.min.css}"
	rel="stylesheet" type="text/css">
<link
	th:href="@{https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i}"
	rel="stylesheet">

<!-- Custom styles for this template-->
<link th:href="@{/admin/css/sb-admin-2.min.css}" rel="stylesheet">

<!-- Bootstrap core JavaScript-->
<script th:src="@{/admin/vendor/jquery/jquery.min.js}"></script>
<script th:src="@{/admin/vendor/bootstrap/js/bootstrap.bundle.min.js}"></script>

<!-- Core plugin JavaScript-->
<script th:src="@{/admin/vendor/jquery-easing/jquery.easing.min.js}"></script>

<!-- Custom scripts for all pages-->
<script th:src="@{/admin/js/sb-admin-2.min.js}"></script>

<title>Mentor</title>
</head>
<body id="page-top">
 <header>
	<ul
		class="navbar-nav bg-gradient-danger sidebar sidebar-dark accordion"
		id="accordionSidebar">

		<!-- Sidebar - Brand -->
		<a
			class="sidebar-brand d-flex align-items-center justify-content-center"
			th:href="@{/mentor/mentor-dashboard}">
			<div class="sidebar-brand-icon rotate-n-15">
				<i class="fas fa-laugh-wink"></i>
			</div>
			<div class="sidebar-brand-text mx-3">Mentor</div>
		</a>

		<!-- Divider -->
		<hr class="sidebar-divider my-0">

		<!-- Nav Item - Dashboard -->
		<li class="nav-item active"><a class="nav-link"
			th:href="@{/mentor/mentor-dashboard}"> <i
				class="fas fa-fw fa-tachometer-alt"></i> <span>Dashboard</span></a></li>

		<!-- Divider -->
		<hr class="sidebar-divider">

		<!-- Heading -->
		<div class="sidebar-heading">Interhisp</div>


		<!-- Nav Item -Department List -->
		<li class="nav-item"><a class="nav-link"
			th:href="@{/mentor/review-datatable}"> <i class="fas fa-list"></i>
				<span>Review List</span></a></li>

		<!-- Nav Item -Add Department -->
		<li class="nav-item"><a class="nav-link"
			th:href="@{/mentor/addReview}"> <i class="fas fa fa-plus"></i>
				<span>Review  Intership</span></a></li>
		<!-- Nav Item -Add Department -->

		<!-- Divider -->
		<hr class="sidebar-divider d-none d-md-block">

		<!-- Heading -->
		<div class="sidebar-heading">Project</div>


		<!-- Nav Item -Employees List -->
		<li class="nav-item"><a class="nav-link"
			th:href="@{/mentor/project-datatable}"> <i class="fas fa-list"></i>
				<span>Project List</span></a></li>

		<!-- Nav Item -Add Employees -->
		<li class="nav-item"><a class="nav-link"
			th:href="@{/mentor/addProject}"> <i class="fas fa fa-plus"></i> <span>Add
					Project</span></a></li>

		<li class="nav-item"><a class="nav-link"
			th:href="@{/mentor/project-member-datatable}"> <i class="fas fa-list"></i>
				<span>Project Member List</span></a></li>

		<li class="nav-item"><a class="nav-link"
			th:href="@{/mentor/addMember}"> <i class="fas fa fa-plus"></i> <span>Add Member
					</span></a></li>
		<li class="nav-item"><a class="nav-link"
			th:href="@{/mentor/permission-datatable}"> <i class="fas fa-list"></i> <span>Permission List
					</span></a></li>

		<!-- Divider -->
		<hr class="sidebar-divider d-none d-md-block">



		<!-- Heading -->
		<div class="sidebar-heading">Issue</div>


		<!-- Nav Item -Branches List -->
		<li class="nav-item"><a class="nav-link"
			th:href="@{/mentor/issue-datatable}"> <i class="fas fa-list"></i>
				<span>Issue List</span></a></li>

		<!-- Nav Item -Add Branch -->
		<li class="nav-item"><a class="nav-link"
			th:href="@{/mentor/addIssue}"> <i class="fas fa fa-plus"></i>
				<span>Add Issue</span></a></li>


		

		<!-- Divider -->
		<hr class="sidebar-divider d-none d-md-block">


		<!-- Sidebar Toggler (Sidebar) -->
		<div class="text-center d-none d-md-inline">
			<button class="rounded-circle border-0" id="sidebarToggle"></button>
		</div>
	</ul>
		</header>
      
</body>
</html>
